@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url(../img/r&mmain.png);
    background-position: center;
    background-size: cover cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white !important;
}

/* hamburger */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}

.menu-btn_burger {
    width: 35px;
    height: 4px;
    background: #62EF24;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #A8BEB3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-10px);
}

.menu-btn_burger::after {
    transform: translateY(10px);
}

/*Animation*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(-90px);
    background: transparent;
    box-shadow: none;
}

/* original
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}*/

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(45deg) translate(35px, -35px);
}

/* custom icon */
.icon-rm {
    background: url(../icons/portal.ico);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 60px;
}

/* sideMenu */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 57.5%;
    right: -30%;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    cursor: pointer;
    transition: all 0.5s ease;
}


.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar .sidebar-li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar .sidebar-li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open .sidebar-li .tooltip {
    display: none;
}

.sidebar .sidebar-li .sidebar-a {
    display: flex;
    width: 100%;
    height: 35px;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

/* 
.sidebar li a:hover {
    background: #fff;
} */

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    /* color: #11101d; */
    color: #fff;
    /* font-size: 25px; */
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .sidebar .sidebar-li .tooltip {
        display: none;
    }
}

/* menu */
.sidebar-ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-ul .sidebar-li {
    position: relative;
    list-style: none;
    margin: 8px 0;
}

.sidebar-ul .sidebar-li .sidebar-a {
    position: relative;
    justify-content: center;
    font-size: 18px;
    text-decoration: none;
    /* letter-spacing: 2px; */
    /* letter spacing is given manually to align the sidebar */
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.sidebar-ul .sidebar-li .sidebar-a::after {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    left: 0;
    width: 0%;
    overflow: hidden;
    transition: 1s;
    border-right: 5px solid var(--clr);
    /*changing this to border-left changes the game*/
    -webkit-text-stroke: 1px var(--clr);
    /*the webkit above allows you to decide whether you want outline to be white instead of the inner color*/
}

.sidebar-ul .sidebar-li .sidebar-a:hover::after {
    width: 100%;
    /*-webkit-text-stroke: 1px var(--clr);*/
    filter: drop-shadow(0 0 25px var(--clr));
    /*filter = glow or not*/
}

/* icons */
i {
    text-align: center;
    cursor: pointer;
}

/* customizing menu */
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.div-one-text-center {
    text-align: center;
    height: 51px;
    color: #62FFFC;
}

.div-one-text-center:after {
    text-align: center;
}

.div-two-text-center {
    text-align: center;
    height: 51px;
    color: #62FFFC;
}

.div-two-text-center:after {
    text-align: center;
}

.div-three-text-center {
    text-align: center;
    height: 51px;
    color: #62FFFC;
}

.div-three-text-center:after {
    text-align: center;
}

.div-four-text-center {
    text-align: center;
    height: 51px;
    color: #62EF24;
}

.div-four-text-center:after {
    text-align: center;
}

.div-five-text-center {
    text-align: center;
    height: 51px;
    color: #62EF24;
}

.div-five-text-center:after {
    text-align: center;
}

.div-six-text-center {
    text-align: center;
    height: 51px;
    color: #62EF24;
}

.div-six-text-center:after {
    text-align: center;
}

.div-seven-text-center {
    text-align: center;
    height: 51px;
    color: #D6CA2D;
}

.div-seven-text-center:after {
    text-align: center;
}

.div-eight-text-center {
    text-align: center;
    height: 51px;
    color: #D6CA2D;
}

.div-eight-text-center:after {
    text-align: center;
}

.div-nine-text-center {
    text-align: center;
    height: 51px;
    color: #D6CA2D;
}

.div-nine-text-center:after {
    text-align: center;
}

.div-ten-text-center {
    text-align: center;
    height: 51px;
    color: #B41B20;
}

.div-ten-text-center:after {
    text-align: center;
}

.div-eleven-text-center {
    text-align: center;
    height: 51px;
    color: #B41B20;
}

.div-eleven-text-center:after {
    text-align: center;
}

/* swiper */
.section-slider-cards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    overflow: hidden;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 350px !important;
}

/* glassCards */
.container-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container-cards .card {
    position: relative;
    width: 330px;
    height: 450px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container-cards .card .content {
    padding: 20px;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transition: 0.5s;
}

/* .container-cards .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
} */

.container-cards .card .content .slider-h2 {
    position: absolute;
    top: -25px;
    right: 0px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.container-cards .card .content .slider-h3 {
    font-size: 1.4em;
    color: #fff;
    z-index: 1;
}

.container-cards .card .content .slider-p {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.container-cards .card .content .slider-a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* blob */
.container-blob {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-blob {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.blob {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 100px;
}

.blob:nth-child(3) {
    filter: blur(50px);
}

.center-blob-number {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 100px;
    padding-top: 1%;
}

.text-black {
    color: #9933FF;
}

/* customizing rick page and cards */
.img-content {
    /* width: 250px; */
    max-width: 250px;
    height: 175px;
}

.slider-table {
    width: 250px;
    height: 120px;
    border: 1px solid white;
    border-collapse: collapse;
}

.slider-row {
    border: 1px solid white;
}